<!DOCTYPE html>
<html ng-app="ngtodo">
	<head>
		<script src="angular.min.js"></script>
		<script src="main.js"></script>
		<title>Angular Functionalities</title>
		<style>
		.ng-binding ,ng-scope{
			border:1px solid black;
		}
		</style>
	</head>
	<body>
		<div ng-controller="mainController">
		<input type="text" ng-model="details">
		<button ng-click="addTodo(details)">Add</button>
		<h2>Todo List</h2>
		<ul>
		<li ng-repeat="todo in todos">
			{{todo}}
			<h2>{{todo.title}}</h2>
			<p>{{todo.details}}</p>
		</li>
		</div>
