<!DOCTYPE html>
<html ng-app="ngtodo">
	<head>
	<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
		<script src="angular.min.js"></script>
		<script src="main.js"></script>
		<title>Angular Functionalities</title>
		<style>
		.addborder{
			border:1px solid black;
		}
		.ng-click{
			display:inline-block;
		}
		</style>
	</head>
	<body>


		<div ng-controller="mainController">
		<input type="text" ng-model="query" placeholder="search">
		<input type="text" ng-model="user.title" placeholder="title">
		<input type="text" ng-model="user.details" placeholder="details">
		<button ng-click="addTodo(user)">Add</button>
		<h2>Todo List</h2>
		<ul class="addborder" ng-repeat="todo in todos | filter:query">
		
			<h2>{{todo.title}}</h2>

			<p>{{todo.details}}</p>
	
			<i class="fa fa-trash-o" aria-hidden="true" ng-click="deleteTodo($index)"></i>
	
		
		</ul>
		</div>	
</body>
</html>